extends ../layouts/index

block content
  form(action=route('courses') method='get')
    input(type='search' name='term' value=term)
    input(type='submit' value='search')
  div
    a(href=route('newCourse')) Add course
  if courses.length === 0
    p No courses
  else
    ul
      each course in courses
        li
          h2= course.title
          p= course.description
