extends ../layouts/index

block content
  if error
    p= error.message
  form(action=route('addUser') method='post')
    div
      label Name:
        input(
          type='text'
          name='name'
          value=values.name
        )
    div
      label Email:
        input(
          type='email'
          name='email'
          value=values.email
          required=true
        )
    div
      label password:
        input(
          type='password'
          name='password'
          value=values.password
          required=true
        )
    div
      label Password confirmation:
        input(
          type='password'
          name='passwordConfirmation'
          value=values.passwordConfirmation
          required=true
        )
    input(type='submit' value='Create')
